@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}
:root{
    --primary-color:#00BFA6;
    --gray-color:#a8a29e;
    --off-white:#f1f5f9;
}

/* containers  */
/* Note : The style which is written down in hirerchy will overide the one which written before it  */
.container-center{
    margin: auto;
    max-width: 900px;
}

.container {
    padding: 0rem 1rem;
}
/* Navigation  */

.navigation{
    background: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    color: #ffff;
}

.nav-list{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bolder;
}

.navigation .link-active{
  font-weight: bold;
}
/* container  */
/* .container{
 padding: 0rem 1rem;
} */

/* list  */
.list-non-bullet{
    list-style: none;
}

.list-item{
    display: inline;
    padding: 0.5rem 1rem;
}

/* links    */

.link{
    text-decoration: none;
    color: var(--off-white);
}

.link-primary{
    padding: 0.5rem;
    background-color: var(--primary-color);
    display: block;
    max-width: 150px;
    margin: 1rem auto;
    border-radius: 2rem;
}

.link-secondary{
    padding: 0.5rem;
    display: block;
    max-width: 150px;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


/* header  */

.hero{
 padding: 2rem;
 margin-top: 2rem;
}

.hero .hero-img{
    max-width: 80%;
    width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    color: var(--gray-color);
    padding-top: 2rem;
}

.hero .hero-heading .emp{
    color: var(--primary-color);
}

/* section  */

.ow{
 background-color: var(--off-white);
}

.section{
    margin: 2rem 0rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}
.section h1{
    text-align: center;
    padding-bottom: 1rem;
    
}

/* footer  */

.footer{
    background-color: var(--primary-color);
    padding: 3rem;
    text-align: center;
    color: #fff;
    border-top-right-radius: 1rem;
}
.footer-header{
    font-size: large;
    margin-bottom: 1rem;
    font-weight: bold;
}

